<div class="cards">
	{{#each this}}
	<article class="card">
		<img src="{{image}}" alt="{{title}}" loading="lazy" />
		<h3>{{title}}</h3>
		<p>{{description}}</p>
		<a href="{{link}}" class="card__link">
			{{linkText}}
		</a>
	</article>
	{{/each}}
</div>